# --------------------
# Environment
# --------------------
.env

# --------------------
# Raw data
# --------------------
data/raw/

# --------------------
# macOS
# --------------------
.DS_Store

# --------------------
# Jupyter / Anaconda
# --------------------
.ipynb_checkpoints/
.virtual_documents/
anaconda_projects/
notebooks/*.ipynb

# --------------------
# Python
# --------------------
__pycache__/
*.pyc

# --------------------
# Artifacts (MLflow is source of truth)
# --------------------
artifacts/

# --------------------
# MLflow local state
# --------------------
mlartifacts/
mlruns/
mlflow.db
